@page "/rover"
@using VaveInterview.Components
@using VaveInterview.Core.Contracts
@using VaveInterview.Core.Models.Enums
@using VaveInterview.Core.Models.Records
@using VaveInterview.Services

@inject ApiService ApiService

<PageTitle>Rover Controller</PageTitle>

<h1>Rover Controller</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
			<label for="numWidth" class="form-label">Grid Width</label>
			<input type="number" min="1" max="10" class="form-control" id="numWidth" @bind="width">
		</div>
		<div class="col-md-1">
			<label for="numHeight" class="form-label">Grid Height</label>
			<input type="number" min="1" max="10" class="form-control" id="numHeight" @bind="height">
		</div>
		<div class="col-md-1">
			<label for="numStartX" class="form-label">Start X</label>
			<input type="number" min="1" max="10" class="form-control" id="numStartX" @bind="startPosition.X">
		</div>
		<div class="col-md-1">
			<label for="numStartY" class="form-label">Start Y</label>
			<input type="number" min="1" max="10" class="form-control" id="numStartY" @bind="startPosition.Y">
		</div>
		<div class="col-md-2">
			<label for="cboStartingDirection" class="form-label">Starting Direction</label>
			<select class="form-control" id="cboStartingDirection" @bind="direction">
				<option value="North">North</option>
				<option value="South">South</option>
				<option value="East">East</option>
				<option value="West">West</option>
			</select>
		</div>
		<div class="col-md-2 my-auto">
			<button class="btn btn-primary" @onclick="CreateRoverClick">Create New Rover</button>
		</div>
		<div class="col-md-2 my-auto">
			@createdRoverId
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-3">
			<label for="txtCommand" class="form-label">Rover ID</label>
			<input type="text" class="form-control" id="txtCommand" @bind="roverid">
		</div>
		<div class="col-md-3">
			<label for="txtCommand" class="form-label">Command</label>
			<input type="text" class="form-control" id="txtCommand" @bind="commands">
		</div>
		<div class="col-md-3 my-auto">
			<button class="btn btn-primary" @onclick="CommandRoverClick">Execute Command</button>
		</div>
	</div>
</div>

@if (result != null)
{
	<RoverGrid Width="width" Height="height" StartX="result.StartingPosition.X" StartY="result.StartingPosition.Y" EndX="result.EndingPosition.X" EndY="result.EndingPosition.Y" Direction="direction" />
}

@result?.Description

@code {
	private int width = 10;
	private int height = 10;
	private Position startPosition = new(0, 0);
	private Direction direction = Direction.North;

	private string roverid = string.Empty;
	private string commands = string.Empty;

	private string createdRoverId = string.Empty;
	private CommandRoverResponse? result = null;

	private async Task CreateRoverClick()
	{
		var request = new CreateRoverRequest
		{
			Width = width,
			Height = height,
			StartX = startPosition.X,
			StartY = startPosition.Y,
			Direction = direction.ToString()
		};

		var result = await ApiService.CreateRoverAsync(request);

		createdRoverId = result.Id.ToString();
	}

	private async Task CommandRoverClick()
	{
		if (!Guid.TryParse(roverid, out var roverGuid))
			return;

		var request = new CommandRoverRequest
		{
			RoverId = roverGuid,
			Commands = commands
		};

		result = await ApiService.CommandRoverAsync(request);

		StateHasChanged();
	}
}
